/**COLORS
Dark- #011627
White- #FDFFFC
Teal- #2EC4B6
Red- #E71D36
Orange- #FF9F1C
**/

body{
  background-color: #f1f1f1;
}

/** Navbar**/
.navbar{
    background-color: #011627;
    color: #FDFFFC;
    
}

.navbar-nav a{
    color: #FDFFFC;
    text-align: center;
    text-decoration: none;
}

.navbar-nav a:hover{
    color: #2EC4B6;
}

/**Buttons**/
.btn-booking{
    background-color: #2EC4B6;
    color: #FDFFFC;
    width: 160px;
    justify-content: center;
}

.btn-booking:hover{
    background-color: #FDFFFC;
    color: #2EC4B6;
}

.dropdown-menu a{
    color: #2EC4B6;
}

.btn--orange{
    background-color: #FF9F1C;
    color: #FDFFFC;
}

.btn--orange:hover{
    background-color: #e7921a;
    color: #FDFFFC;
}

.btn--blue{
    background-color: #2EC4B6;
    color: #FDFFFC;
}

/**Hero Image**/
.hero-image{
    height: 92vh;
    background: url(/images/hero-belay-lady.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: -2;
}

/**Text Overlay**/
.jumbotron{
    margin-top: 10rem;
    background-color: transparent;
}


.callout{
    color: #FDFFFC;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

/**Nav Cards**/

.card{
    height: 30rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding: 1rem;
}

.card img{
    height: 16rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}


/**About Us**/
.about-container{
    background:  #e7921a;
    margin-top: 30px;
    padding-top: 30px;
}

.about-body{
    text-align: center;
    color: #FDFFFC;
}

.about-body h2{
    margin-top: 20px;
    text-transform: uppercase;
}

/**First Time Page**/
.what-to-expect .container-fluid{
    padding: 0;
}

.ft-container{
    background-color: #e7921a;
    height: 600px;
    position: relative;
    padding: 0;
}

.ft-image{
    background: url(/images/first-time-bouldering-resize.jpg);
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: -2;
}

.ft-about{
    color: #FDFFFC;
    justify-content: right;
}

.ft-about h1{
    text-align: center;
    margin-bottom: 1.5rem;

}

.ft-about p{
    text-align: center;
    line-height: 2rem;
    font-size: 20px;
}


/**What to expect**/

.expect-container{
    background-color: #e7921a;
    color: #FDFFFC;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#expect-heading{
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem;
    
}

.list-heading{
    text-align: center;
    margin-top: 3rem;
    
}

.hr-long{
    background-color: #011627;
    height: 2px;
    width: 30%;
}

.expect-li{
    list-style: circle;
    line-height: 2rem;
}
