/**COLORS
Dark- #011627
White- #FDFFFC
Teal- #2EC4B6
Red- #E71D36
Orange- #FF9F1C
**/

body{
  background-color: #f1f1f1;
  overflow-x: hidden;
}

/** Navbar**/
.navbar{
    background-color: #011627;
    color: #FDFFFC;
    height: 12vh;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar-nav{
    margin-top: 1.5rem;
}

.navbar-nav a{
    font-size: 1.25rem;
    color: #FDFFFC;
    text-decoration: none;
    text-align: center;
}

.navbar-nav a:hover{
    color: #2EC4B6;
}

/**Booking Modal**/
.modal-title{
    margin: 0 auto 0 auto;
}

.modal-body .form-group{
    text-align: left;
}

.btn-booking{
    margin-bottom: 10px;
}

.booking-form-container{
    background: #FDFFFC;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem  1.5rem 1rem 1.5rem;
    border-radius: 5px;
}

.input-box input{
    width: 80%;
    margin-bottom: 1rem;
}

.input-box textarea{
    width: 80%;
    min-height: 200px;
    margin-right: auto;
    margin-bottom: 1rem;
}

.rental-title{
    margin-top: 2rem;
}

.member-type{
    display: inline;
    margin-right: 2rem;
}
.rental-required{
    display: inline;
    margin-right: 2rem;
}

#subject-line{
    margin-top: 1rem;
}

/**Buttons**/
.btn-booking{
    background-color: #2EC4B6;
    color: #FDFFFC;
    width: 160px;
    justify-content: center;
}

.btn-booking:hover{
    background-color: #FDFFFC;
    color: #2EC4B6;
}

.dropdown-menu a{
    color: #2EC4B6;
}

.btn--orange{
    background-color: #FF9F1C;
    color: #FDFFFC;
}

.btn--orange:hover{
    background-color: #e7921a;
    color: #FDFFFC;
}

.btn--blue{
    background-color: #2EC4B6;
    color: #FDFFFC;
    width: 160px;
}

.btn--blue:hover{
    background-color: #FDFFFC;
    color: #2EC4B6;
    border: 1px solid #2EC4B6;
}

/**Hero Image**/
.hero-image{
    height: 92vh;
    background: url(/images/hero-belay-lady.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative top right;
    justify-content: center;
    display: flex;
    z-index: -2;
}

/**Text Overlay**/
.jumbotron{
    margin-top: 10rem;
    background-color: transparent;
}


.callout{
    color: #FDFFFC;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 92vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

/**Nav Cards**/

.card{
    height: 30rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding: 1rem;
}

.card img{
    height: 16rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}


/**About Us**/
.about-container{
    background:  #e7921a;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-body{
    text-align: center;
    color: #FDFFFC;
    font-size: 1.25rem;
}

.about-body h2{
    margin-top: 20px;
    text-transform: uppercase;
}

/**Find Us**/
.find-us-container{
    margin: 2rem;
}

.find-us-title{
    margin-top: 3rem;
}
#map{
    margin-top: 1rem;
}

.times{
    font-size: 1.25rem;
    line-height: 2rem;
}
/**First Time Page**/

.ft-container{
    background-color: #e7921a;
    height: 600px;
    position: relative;
    padding: 0;
}

.what-to-expect .col-12{
    padding: 0;
}

.ft-image{
    background: url(/images/first-time-bouldering-resize.jpg);
    height: 92vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: -2;
}
.ft-image .jumbotron{
    margin-top: 15rem;
}

.ft-about{
    color: #FDFFFC;
    justify-content: right;
}

.ft-about h1{
    text-align: center;
    margin-bottom: 1.5rem;
}

.ft-about p{
    text-align: center;
    line-height: 2rem;
    font-size: 20px;
}
/**Pricing**/
.pricing-container{
    background-color: #e7921a;
    color: #FDFFFC;
    margin-top: 2rem;
    border: 1 solid #FDFFFC;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
}

.price-box{
    background-color: #FDFFFC ;
    color: #011627;
    padding: 2rem;
    margin: 1rem;
    border: 1 solid #FDFFFC;
    border-radius: 5px;
}

table{
    display: flex;
    justify-content: center;
}

.table-item{
    display: flex;
    align-items: flex-start;
    padding-right: 4rem;
}

.price-box p{
    font-size: 14px;
    padding-top: 1rem;
    color: #808080
}

/**What to expect**/

.expect-container{
    background-color: #e7921a;
    color: #FDFFFC;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#expect-heading{
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem; 
}

.list-heading{
    text-align: center;
    margin-top: 3rem;
}

.hr-long{
    background-image: linear-gradient(to right, #e7921a,#011627, #e7921a);
    height: 1px;
    width: 60%;

}

.expect-li{
    line-height: 2rem;
}

/**Footer**/
.footer-container{
    background-color: #011627;
    color: #FDFFFC;
    height: 15vh;
}

.footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
#find-us{
    text-align: right;
}

.social-links a{
    font-size: 3rem;
    color: #2EC4B6;
    margin-right: 2rem;
    
}

/**Facilities**/

.facilities-section{
    background-color: #e7921a;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.facilities-image{
    background-image: url(/images/wooden-wall-with-holds.jpg);
    height: 92vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: -2;
}

.facilities-about{
    color: #FDFFFC;
}

.boulder-card{
    margin-top: 2rem;
    background-color: #FDFFFC;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2rem;
}

.boulder-about{
    justify-content: left;
}

.boulder-card img{
    float: left;
    height: 15rem;
    width: 100%;
    margin-bottom: 1rem;
}

/**Events**/

.event-header{
    color: #FDFFFC;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem;
}

.event-cards{
    margin-top: 1rem;
    padding-top: 1.5rem;
}

.event-about{
    display: grid;
    justify-items: center;
    margin-top: 6rem;
    
}

.event-about h1{
    color: #FDFFFC;
    font-size: 3rem;
}

.event-about h3{
    color: #FDFFFC;
    font-size: 2rem;
}

.event-about p{
    color: #FDFFFC;
    font-size: 1rem;
    font-style: italic;
}

.event-image{
    background: url(/images/lead-lady-climber.jpg);
    height: 92vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: left;
    display: flex;
    z-index: -2;
}

.event-cards{
    background-color: #e7921a;
}

/**Modal**/
.modal-content{
    display: grid;
    justify-content: center;
    text-align: right;
}

.modal-content h3{
    text-align: center;
    margin: 1rem;
}

/**Booking Page**/
/**Booking Form**/

.registration{
    background: #e7921a;
    color: #FDFFFC;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    line-height: 40px;
}

.registration h3,h4{
    text-align: center;
    margin-top: 2rem;
}

.waiver a{
    color:#2EC4B6;
    font-size: 18px;
    padding-left: 5px;
}