/**COLORS
Dark- #011627
White- #FDFFFC
Teal- #2EC4B6
Red- #E71D36
Orange- #FF9F1C
**/

body{
  
}

/** Navbar**/
.navbar{
    background-color: #011627;
    color: #FDFFFC;
    
}

.navbar-nav a{
    color: #FDFFFC;
    text-align: center;
    text-decoration: none;
}

.navbar-nav a:hover{
    color: #2EC4B6;
}

/**Buttons**/
.btn-booking{
    background-color: #2EC4B6;
    color: #FDFFFC;
    width: 160px;
    justify-content: center;
}

.btn-booking:hover{
    background-color: #FDFFFC;
    color: #2EC4B6;
}

.dropdown-menu a{
    color: #2EC4B6;
}

.btn--orange{
    background-color: #FF9F1C;
    color: #FDFFFC;
}

.btn--orange:hover{
    background-color: #e7921a;
    color: #FDFFFC;
}

/**Hero Image**/
.hero-image{
    height: 92vh;
    background: url(/images/hero-belay-lady.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: -2;
}

/**Text Overlay**/
.jumbotron{
    margin-top: 10rem;
    background-color: transparent;
}


.jumbotron-header{
    color: #FDFFFC;
}

/**.opaque-overlay{
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
}**/

/**Nav Cards**/

.card{
    height: 30rem;
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding: 1rem;
}

.card img{
    height: 16rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}


/**About Us**/
.container{
    background: #E71D36;
    margin-top: 30px;
    padding-top: 30px;
    height: 300px;
}

.about-body{
    text-align: center;
    color: #FDFFFC;
}

.about-body h2{
    margin-top: 20px;
    text-transform: uppercase;
}